table tr, td, th {
	font-size: 10px;
	width: 100%;
    color: #000;
	border: 1px solid;
	text-align: center;
	
	
}
.text{
	color: #000000;
    text-align: center;
}

#itemImage {
	height: 100px;
	width: 80px;
}
