{% include "base.html" %}
<section class="section-content">
  <div class="container">
    <header class="section-heading">

    </header>
<html>
<head>
	
</head>
<body>

    <!-- ========================= SECTION INTRO ========================= -->
    <section class="section-intro padding-y-sm">
      <div class="container">
      
      <div class="intro-banner-wrap">
        <img src="/static/images/banners/logo1.png" class="img-fluid rounded">
      </div>
      
      </div> <!-- container //  -->
      </section>

      <div class="about-section">
        <h1 style="color:rgb(0, 0, 0);">ELIXIR Stores Near You  </h1>
        <br>
        <p>We are comming soon to your locations</p>
        
      </div>
      
       
</body> 
</html>   